/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
 .animate-hello{
  animation: fade-hello-in 500ms ease-in-out 0ms 1;
 }
.animate-im-delay{
  animation: fade-im-delay 500ms ease 0.5s 1 forwards;
  visibility: hidden;
}
.animate-im-too-delay{
  animation: fade-im-to-delay 500ms ease 1s 1 forwards;
  visibility: hidden;
}
 @keyframes fade-hello-in {
  0%{
    opacity: 0;
    transform: translateY(1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
 }
 @keyframes  fade-im-delay{
  0%{
    opacity: 0;
    transform: translateY(1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
 }
 @keyframes fade-im-to-delay {
  0%{
    opacity: 0;
    display: block;
    transform: translateY(1rem);
  }
  100%{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
 }